* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./#source/fonts/ProximaNova-Regular.eot");
  src: url("./#source/fonts/?#iefix") format("embedded-opentype"), url("./#source/fonts/ProximaNova-Regular.woff") format("woff"), url("./#source/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./#source/fonts/ProximaNova-Bold.eot");
  src: url("./#source/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./#source/fonts/ProximaNova-Bold.woff") format("woff"), url("./#source/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.header {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: darkgrey;
  padding: 0 50px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 1200px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

.header__menu-link {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 30px 0 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__menu-link:hover {
  color: #ffed02;
}

.header__menu-link:last-child {
  margin: 0 0 0 0;
}

.header__menu-link.active {
  color: #ffed02;
  font-weight: bold;
  position: relative;
}

.header__menu-link.active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background: #ffed02;
  border-radius: 20px;
}

.header__logo {
  width: 75px;
  height: 75px;
}

.header__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1200px) {
  .header__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

.header__contact-phone {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 30px 0 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__contact-phone:hover {
  color: #ffed02;
}

.header__contact-item {
  margin: 0 30px 0 0;
}

.header__contact-item svg path {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__contact-item:last-child {
  margin: 0 0 0 0;
}

.header__contact-item:hover svg path {
  fill: #ffed02;
}
