@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./../fonts/ProximaNova-Regular.eot");
  src: url("./../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/ProximaNova-Regular.woff") format("woff"), url("./../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./../fonts/ProximaNova-Bold.eot");
  src: url("./../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/ProximaNova-Bold.woff") format("woff"), url("./../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Woodstick";
  src: url("./../fonts/Woodstick-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #19181b;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: #ffed02;
  border-radius: 15px;
}

* {
  scrollbar-color: #ffed02 #e6e6e6;
  scrollbar-width: thin;
}

.header {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 50px;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 1200px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

.header__menu-link {
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 30px 0 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__menu-link:hover {
  color: #ffed02;
}

.header__menu-link:last-child {
  margin: 0 0 0 0;
}

.header__menu-link.active {
  color: #ffed02;
  font-weight: bold;
  position: relative;
}

.header__menu-link.active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background: #ffed02;
  border-radius: 20px;
}

.header__logo {
  width: 75px;
  height: 75px;
}

.header__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1200px) {
  .header__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

.header__contact-phone {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 30px 0 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__contact-phone:hover {
  color: #ffed02;
}

.header__contact-item {
  margin: 0 30px 0 0;
}

.header__contact-item svg path {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__contact-item:last-child {
  margin: 0 0 0 0;
}

.header__contact-item:hover svg path {
  fill: #ffed02;
}

.header__burger {
  display: none;
}

.burger__menu {
  display: none;
}

@media (max-width: 940px) {
  body._lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .header__burger._active:before {
    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .header__burger._active:after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .burger__menu {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    min-height: calc(100vh - 100px);
    overflow-y: auto;
    -webkit-transform: translate(-100vw, 0);
        -ms-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
    z-index: 100;
    position: fixed;
    top: 100px;
    left: 0;
    background: rgba(0, 0, 0, 0.89);
    padding: 50px 25px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .burger__menu .header__menu-link {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 34px;
  }
  .burger__menu .header__menu-link.active:after {
    display: none;
  }
  .burger__menu .header__contact-phone {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 34px;
  }
  .burger__menu .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0 0 20px 0;
  }
  .burger__menu._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .header__menu {
    display: none;
  }
  .header__contacts {
    display: none;
  }
}

.first {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0 0 0;
  background: url("../images/system_img/First_section/BG_section_one.jpg") center/cover no-repeat;
  position: relative;
}

.first__bg-img {
  position: absolute;
  z-index: 1;
  height: 40vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.first__bg-img.open {
  opacity: 1;
}

.first__wrap {
  max-width: 700px;
  margin: 0 auto;
  min-height: calc(100vh - 170px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.first__title {
  font-family: "Woodstick", sans-serif;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin: 30px 0 0 0;
  color: #ffffff;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .first__title {
    font-size: 35px;
    line-height: 43px;
  }
}

.first__button {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  width: 305px;
  height: 69px;
  display: block;
  margin: auto auto 0 auto;
  background: -webkit-linear-gradient(358.19deg, #ffed02 0%, #ff9900 100%);
  background: -o-linear-gradient(358.19deg, #ffed02 0%, #ff9900 100%);
  background: linear-gradient(91.81deg, #ffed02 0%, #ff9900 100%);
  -webkit-box-shadow: 0px 0px 15px #ec9a0d;
          box-shadow: 0px 0px 15px #ec9a0d;
  border-radius: 25px;
  -webkit-animation: btn-animater 2s ease-out 0s infinite;
          animation: btn-animater 2s ease-out 0s infinite;
}

.first__button:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes btn-animater {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes btn-animater {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.second {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0 0 0;
  background: url("../images/system_img/Second_section/BG_section_2-min.png") center/cover no-repeat;
  position: relative;
}

.second__title {
  font-family: "Woodstick", sans-serif;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #ffeb02;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .second__title {
    font-size: 35px;
    line-height: 43px;
  }
}

.second__items {
  padding: 0 0 50px 0;
  /* Активная точка */
  /* Элемент точки */
}

.second__items .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 0 0;
}

.second__items .slick-dots li.slick-active button {
  background: #ffed02;
}

.second__items .slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff9f01;
  font-size: 0;
  margin: 0 10px;
}

.item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.item__img img {
  max-width: 100%;
}

.item__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 50px 70px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__description {
  margin: 0 80px 0 0;
  padding: 40px 25px;
  border: 7px dashed #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.item__description p {
  font-family: "Woodstick";
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

.item__price {
  display: inline-block;
  font-family: "Woodstick";
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  padding: 13px 40px;
  background: #000;
  border-radius: 15px;
  color: #ffed02;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item__button {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  width: 282px;
  height: 69px;
  background: -webkit-linear-gradient(358.19deg, #ffed02 0%, #ff9900 100%);
  background: -o-linear-gradient(358.19deg, #ffed02 0%, #ff9900 100%);
  background: linear-gradient(91.81deg, #ffed02 0%, #ff9900 100%);
  -webkit-box-shadow: 0px 0px 15px #ec9a0d;
          box-shadow: 0px 0px 15px #ec9a0d;
  border-radius: 25px;
  color: #000000;
  margin: 27px 0 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: pulse 2s ease 0s infinite;
          animation: pulse 2s ease 0s infinite;
}

.item__button:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 768px) {
  .item__button {
    font-size: 35px;
    line-height: 43px;
  }
}

@media (max-width: 768px) {
  .item__description {
    margin: 0 0 0 0;
    padding: 20px 10px;
  }
  .item__description p {
    font-size: 25px;
    line-height: 30px;
  }
  .item__price {
    font-size: 25px;
    line-height: 30px;
    padding: 13px 40px;
    margin: 0px -30px 0 0;
  }
}

@media (max-width: 500px) {
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item__img {
    max-width: 40%;
  }
  .item__description {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0 0 0 0;
  }
  .item__price {
    margin: 0px 0 0 0;
  }
  .item__body {
    padding: 20px 10px 0 10px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 15px #ec9a0d;
            box-shadow: 0px 0px 15px #ec9a0d;
  }
  70% {
    -webkit-box-shadow: 0px 0px 30px #ec9a0d;
            box-shadow: 0px 0px 30px #ec9a0d;
  }
  100% {
    -webkit-box-shadow: 0px 0px 15px #ec9a0d;
            box-shadow: 0px 0px 15px #ec9a0d;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 15px #ec9a0d;
            box-shadow: 0px 0px 15px #ec9a0d;
  }
  70% {
    -webkit-box-shadow: 0px 0px 30px #ec9a0d;
            box-shadow: 0px 0px 30px #ec9a0d;
  }
  100% {
    -webkit-box-shadow: 0px 0px 15px #ec9a0d;
            box-shadow: 0px 0px 15px #ec9a0d;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.third {
  padding: 100px 0 0 0;
  background: url("../images/system_img/Second_section/BG_3-min.png") center/cover no-repeat;
  position: relative;
}

.third__wrap {
  text-align: center;
}

.third__title {
  font-family: "Woodstick", sans-serif;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .third__title {
    font-size: 35px;
    line-height: 43px;
  }
}

.third__items-wrap {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-auto-columns: 245px;
  -ms-grid-columns: (minmax(245px, 245px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(245px, 245px));
  padding: 30px 50px 50px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third__link {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  padding: 10px 40px;
  background: -webkit-linear-gradient(358.19deg, #ffed02 0%, #ff9900 100%);
  background: -o-linear-gradient(358.19deg, #ffed02 0%, #ff9900 100%);
  background: linear-gradient(91.81deg, #ffed02 0%, #ff9900 100%);
  -webkit-box-shadow: 0px 0px 15px #ec9a0d;
          box-shadow: 0px 0px 15px #ec9a0d;
  border-radius: 25px;
  color: #000000;
  margin: 0 0 40px 0;
  display: inline-block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: pulse 2s ease 0s infinite;
          animation: pulse 2s ease 0s infinite;
}

.third__link:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 768px) {
  .third__link {
    font-size: 30px;
    line-height: 38px;
    padding: 10px 20px;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 15px #ec9a0d;
            box-shadow: 0px 0px 15px #ec9a0d;
  }
  70% {
    -webkit-box-shadow: 0px 0px 20px #ec9a0d;
            box-shadow: 0px 0px 20px #ec9a0d;
  }
  100% {
    -webkit-box-shadow: 0px 0px 15px #ec9a0d;
            box-shadow: 0px 0px 15px #ec9a0d;
  }
}

.item-third {
  width: 245px;
  padding: 0 0 20px 0;
  background: #19181b;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-third__img {
  height: 179.7px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.item-third__name {
  margin: 11px 0 20px 0;
  padding: 0 15px;
  text-align: center;
  font-family: "Woodstick", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.item-third__price-weight {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-third__weight {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.item-third__price {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffed02;
}

.item-third__count-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
  padding: 0 15px;
}

.item-third__count-btn {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffed02;
  width: 71px;
  height: 44px;
  background: none;
  border: 3px solid #ffe802;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item-third__count-btn:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.item-third__count-value {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
}

.item-third__add-btn {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffed02;
  width: 169px;
  height: 44px;
  background: none;
  border: 3px solid #ffe802;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item-third__add-btn:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.third__map {
  margin: 50px 0 0 0;
  width: 100%;
}

.third__buttons {
  margin: 30px 0 0 0;
}

.third__buttons .third__link {
  margin: 0 30px 0 0;
}

@media (max-width: 1300px) {
  .third__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }
  .third__buttons .third__link {
    margin: 0 0 30px 0;
  }
}

.third__footer {
  padding: 50px 0 70px 0;
  background: url("../images/system_img/Third_section/footer-bg.png") center/cover no-repeat;
}

.info-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}

.info-third:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 38px 0 50px 0;
}

.info-third__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.info-third__body {
  margin: 0 0 0 50px;
}

.info-third__title {
  font-family: "Woodstick", sans-serif;
  font-size: 50px;
  line-height: 60px;
  margin: 0 0 30px 0;
  text-align: left;
  color: #ffffff;
}

.info-third__title--mobile {
  display: none;
}

.info-third__text {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 24px;
  color: #ffffff;
}

.info-third__text--mobile {
  display: none;
}

@media (max-width: 1200px) {
  .info-third {
    padding: 0 30px;
  }
}

@media (max-width: 950px) {
  .info-third {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-third__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info-third__img img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
  }
  .info-third__img .info-third {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .info-third__text, .info-third__title {
    display: none;
  }
  .info-third__text--mobile, .info-third__title--mobile {
    display: block;
  }
  .info-third__title {
    text-align: right;
  }
}

@media (max-width: 950px) and (max-width: 768px) {
  .info-third__title {
    font-size: 35px;
    line-height: 43px;
  }
}

@media (max-width: 950px) {
  .info-third__text {
    text-align: center;
    margin: 20px 0 0 0;
  }
  .info-third:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 38px 0 50px 0;
  }
  .info-third:nth-child(even) .info-third__title {
    text-align: left;
  }
}

@media (max-width: 550px) {
  .info-third {
    margin: 0 0 50px 0;
  }
  .info-third__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-third__img img {
    max-width: 80%;
  }
  .info-third:nth-child(even) .info-third__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .info-third:nth-child(even) .info-third__title {
    text-align: center;
  }
  .info-third__title {
    text-align: center;
  }
}

.popup-black {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 150;
}

.popup-black.open {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  z-index: 151;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 95vh;
  overflow: auto;
}

.popup.open {
  display: block;
}

.popup__content {
  position: relative;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 152;
}

.popup .item-third {
  width: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .popup .item-third {
    width: 90vw;
  }
}

.popup .item-third__img {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.popup .item-third__text {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 0 15px;
  margin: 0 0 20px 0;
}

.popup .item-third__count-wrap {
  width: 240px;
  margin: 30px 0 0 0;
}

.popup .item-third__price-weight {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 15px 0 15px 0;
}

.popup .item-third__weight {
  margin: 0 10px 0 0;
}

.select2-selection {
  width: 402px !important;
  height: 44px !important;
  border: 3px solid #ffe802 !important;
  background: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

@media (max-width: 500px) {
  .select2-selection {
    width: 280px !important;
  }
}

.select2-selection__rendered {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff !important;
}

.select2-selection__arrow {
  position: relative;
  height: 44px !important;
}

.select2-selection__arrow:after {
  content: url("../images/system_img/arrow-popup.svg");
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.select2-selection__arrow b {
  display: none;
}

.select2-container--open .select2-selection__arrow:after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.select2-results__options {
  background: #000 !important;
  border: 3px solid #ffe802 !important;
}

.select2-results__option--selectable {
  background: #000 !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: gray !important;
}

.select2-results__option {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff !important;
}

.err-content {
  width: 100%;
  height: 100vh;
  padding: 100px 0 0 0;
  font-family: "Woodstick", sans-serif;
  background: url("../images/system_img/First_section/BG_section_one.jpg") center/cover no-repeat;
}

.err-content h1 {
  font-size: 360px;
  line-height: 432px;
  text-align: center;
  color: #ffed02;
}

.err-content h2 {
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1100px) {
  .err-content h1 {
    font-size: 150px;
    line-height: 200px;
  }
  .err-content h2 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 470px) {
  .err-content h1 {
    font-size: 90px;
    line-height: 130px;
  }
  .err-content h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

.basket {
  width: 100%;
  height: 100vh;
  padding: 100px 0 0 0;
  background: url("../images/system_img/bg-basket.png") center/cover no-repeat;
  overflow-y: auto;
}

.basket__title {
  font-family: "Woodstick", sans-serif;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  padding: 0 15px;
  margin: 0 0 50px 0;
}

@media (max-width: 768px) {
  .basket__title {
    font-size: 35px;
    line-height: 43px;
  }
}

.basket__items {
  padding: 0 100px;
}

@media (max-width: 1200px) {
  .basket__items {
    padding: 0 20px;
  }
}

.basket .item-third__count-wrap {
  margin: 0 50px 0 0;
}

.basket .item-third__count-value {
  margin: 0 18px;
}

@media (max-width: 991px) {
  .basket .item-third__count-wrap {
    margin: 0 0 20px 0;
  }
}

.basket .form {
  margin: 40px 100px 0 100px;
  border: 7px dashed #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
}

.basket .form .chicken-img {
  position: absolute;
  bottom: -85px;
  right: -90px;
}

@media (max-width: 600px) {
  .basket .form {
    margin: 40px 20px 0 20px;
  }
  .basket .form .chicken-img {
    right: -10px;
    bottom: -115px;
  }
}

.basket .input-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .basket .input-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.basket .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 45px 30px 0;
}

@media (max-width: 991px) {
  .basket .input-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 30px 0;
  }
}

.basket .label {
  font-family: "Woodstick", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  margin: 0 10px 0 0;
}

@media (max-width: 991px) {
  .basket .label {
    margin: 0 0 10px 0;
  }
}

.basket .input {
  border: 3px solid #ffe802;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 44px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  text-align: center;
  width: 220px;
}

.basket .btn {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  padding: 10px 40px;
  background: -webkit-linear-gradient(358.19deg, #ffed02 0%, #ff9900 100%);
  background: -o-linear-gradient(358.19deg, #ffed02 0%, #ff9900 100%);
  background: linear-gradient(91.81deg, #ffed02 0%, #ff9900 100%);
  -webkit-box-shadow: 0px 0px 15px #ec9a0d;
          box-shadow: 0px 0px 15px #ec9a0d;
  border-radius: 25px;
  color: #000000;
  margin: 0 0 40px 0;
  display: inline-block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: pulse 2s ease 0s infinite;
          animation: pulse 2s ease 0s infinite;
}

.basket .btn:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 768px) {
  .basket .btn {
    font-size: 30px;
    line-height: 38px;
    padding: 10px 20px;
  }
}

@media (min-width: 991px) {
  .basket #name {
    width: 217px;
  }
  .basket #street {
    width: 286px;
  }
  .basket #house,
  .basket #flat {
    width: 102px;
  }
  .basket #time {
    width: 170px;
  }
  .basket #comment {
    width: 367px;
  }
}

.item-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-basket__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.item-basket__price {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 80px 0 0;
}

.item-basket:last-child {
  margin: 0 0 0 0;
}

@media (max-width: 991px) {
  .item-basket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 50px 0;
  }
  .item-basket__name, .item-basket__price {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 34px;
  }
}
