.second {
	width: 100%;
	min-height: 100vh;
	padding: 100px 0 0 0;
	background: url("../images/system_img/Second_section/BG_section_2-min.png") center / cover no-repeat;
	position: relative;

	&__wrap {
	}

	&__title {
		font-family: "Woodstick", sans-serif;
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		color: #ffeb02;
	}

	&__items {
		padding: 0 0 50px 0;
		.slick-dots {
			display: flex;
			justify-content: center;
		}
		.slick-dots li {
		}
		/* Активная точка */
		.slick-dots li.slick-active button {
			background: #ffed02;
		}
		/* Элемент точки */
		.slick-dots li button {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: #ff9f01;
			font-size: 0;
			margin: 0 10px;
		}
	}

	&__item {
	}
}
.item {
	display: flex !important;
	justify-content: space-between;
	&__img {
		flex: 0 1 40%;
		img {
			max-width: 100%;
		}
	}

	&__body {
		flex: 0 1 50%;
		padding: 50px 70px 0 0;
		display: flex;
		flex-direction: column;
	}

	&__description {
		margin: 0 80px 0 0;
		padding: 40px 25px;
		border: 7px dashed #ffffff;
		box-sizing: border-box;
		border-radius: 25px;

		p {
			font-family: "Woodstick";
			font-size: 50px;
			line-height: 60px;
			text-align: center;

			color: #ffffff;
		}
	}

	&__price {
		display: inline-block;
		font-family: "Woodstick";
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		padding: 13px 40px;
		background: #000;
		border-radius: 15px;
		color: #ffed02;
		align-self: flex-end;
	}

	&__button {
		font-family: "Proxima Nova", sans-serif;
		font-weight: bold;
		font-size: 40px;
		line-height: 49px;
		width: 282px;
		height: 69px;

		background: linear-gradient(91.81deg, #ffed02 0%, #ff9900 100%);
		box-shadow: 0px 0px 15px #ec9a0d;
		border-radius: 25px;
		color: #000000;
		margin: 27px 0 0 0;
		align-self: center;

		transition: 0.2s;
		&:hover {
			transform: translateY(-2px);
		}

		animation: pulse 2s ease 0s infinite;
	}
}

@keyframes pulse {
	0% {
		// box-shadow: 0 0 0 0 rgba(255, 237, 2, 0, 5);
		box-shadow: 0px 0px 15px #ec9a0d;
	}
	70% {
		// box-shadow: 0 0 0 10px rgba(255, 237, 2, 0, 5);
		box-shadow: 0px 0px 30px #ec9a0d;
	}
	100% {
		// box-shadow: 0 0 0 0 rgba(255, 237, 2, 0, 5);
		box-shadow: 0px 0px 15px #ec9a0d;
	}
}
